.headx{
	background-image: url(../img/headdi.png);
	background-position:center;
	background-repeat: no-repeat;
	z-index: 20;
    position: relative;
}
.headx.flxs{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 10;
}
.headdiv{
	margin: 0 auto;
	height: 57px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logodiv{
	width: 30%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.headnav{
	width: 60%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.headnav1024{
	width: 67%;
}
a.headNavA{
	font-weight: bold;
	color: white;
	display: block;
	height: 57px;
	line-height: 57px;
}
.banimgdiv{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 1;
}
.banimgdivxxx{
	position: relative;
	z-index: -2;
	content: '';
	height:0;
	margin-top: 545px;
}
.wghh{
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;	
}
.headnav.flex{
	width: 40%;
	position: relative;
	right: -12%;
}
.headnav.flex .headNavA{
	
}
.headNavA.aclick{
	background-image: url(../img/headnandian.png);
	background-repeat: no-repeat;
	background-position: center 38px;
}
.lcbu{
	width: 1px;
	height: 10px;
	border-left:1px solid #FFFFFF;
}
.headNavABig{
	margin: 0 -1.5% 0 3%;
	text-align: center;
	font-weight: bold;
	color: white;
}
.shape{
    width: 116px;
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,.25);
    text-decoration: none;
    color: white;
    transform: skewX(-30deg);
}
.shape a{
	display: flex;
	align-items: center;
}.shape img{
	margin-left: 8px;
}

.shapeflex{
	margin-left: 50px;
	transform: skewX(-32deg);
	margin-right:-112px;
}
.shape a{
	font-weight: bold;
	color: white;
    transform: skewX(30deg);
}
.flexindexcention{
	display: flex;
	position: fixed;
	top: 27%;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 10;
	justify-content: space-between;
}
.contdiv{
	width: 42%;
}
.contiele{
	padding:0 25px;
	display: flex;
	justify-content: space-between;
	height: 55px;
	background: rgba(0,0,0,.3);
	position: relative;
	align-items: center;
}
.contiele.aclick{
	background: rgba(0,0,0,.35);
}
.contiele img:nth-of-type(2){
	display: none;
}
.contiele.aclick img:nth-of-type(1){
	display: none;
}
.contiele.aclick img:nth-of-type(2){
	display: block;
}
.contiele:after{
	content: "";
	position: absolute;
	left: 0;
	top: 10px;
	width: 100%;
	height: 35px;
	background: rgba(0,0,0,.2);
	z-index: -1;
}
.aclick.contiele:after{
	display: none;
}
.aclick.gss{
	display: none;
}
.contiexs.aclick .contfs{
	display: block;
}
.gss{
	margin-top: 30px;
	text-align: center;
}
.gss.aclick{
	display: none;
}
.contfs{
	display: none;
	line-height:22px; 
	padding: 15px 25px 30px 22px;
	border-radius:0 0 10px 10px;
	border: 1px solid #FFFFFF;
	border-top:none ;
	background: rgba(0,0,0,.3);
	letter-spacing:1px;
	max-height: 450px;
	overflow-x:hidden;
	overflow-y:scroll;
}
@media screen and (max-height: 901px) {
	.contfs{
		max-height: 350px;
	}
	.flexindexcention{
		top: 30%;
	}
}
.contfs::-webkit-scrollbar {/*滚动条整体样式*/
            width: 7px;     /*高宽分别对应横竖滚动条的尺寸*/
            height: 4px;
        }
        .contfs::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
            border-radius: 5px;
            -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
            background: rgba(0,0,0,0.3);
        }
        .contfs::-webkit-scrollbar-track {/*滚动条里面轨道*/
            -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.15);
            border-radius: 0;
            background: rgba(0,0,0,0.15);
        }
.duan{
	display: block;
	margin: 10px auto;
}

.wejjv{
	display: flex;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.xfs{
	width: 100%;
	height: 100%;
	background-image: url(../img/index1.jpg);
	background-position-x: center;
	background-repeat: no-repeat;
}
.tixfo{
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 2;
	margin-left: -1.301%;
	width: 51.999%;
	height: 60px;
	background-color: rgba(0,0,0,.5);
	transform: skewX(-30deg);
}
.tixfodiv{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 3;
	margin: 0 auto;
	height: 60px;
	line-height: 60px;
}
.tixfodivsj{
	height: 60px;
	line-height: 60px;
	background-color: rgba(49,49,49,1);
	text-align: center;
	margin: 0 auto;
}
.bannav{
	position: fixed;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: 60px;
	text-align: right;
	z-index: 10;
	transform:translate(-32px) ;
}
.bannavdiv2{
	position: fixed;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: 50px;
	text-align: right;
	z-index: 10;
	bottom: 30px;
}
.gss{ 
	cursor:pointer;
-webkit-animation: twinkling 1s infinite ease-in-out;
} 
.animated{ 
-webkit-animation-duration: 1s; 
animation-duration: 1s; 
-webkit-animation-fill-mode: both; 
animation-fill-mode: both 
} 
@keyframes twinkling{ 
0%{ 
opacity: 0.3; 
}
25%{ 
opacity: 0.5; 
} 
75%{ 
opacity: 0.7; 
}  
100%{ 
opacity: 1; 
} 
}
.wihdiv{
	width: 100%;
	margin: 0 auto;
	padding: 25px 0 20px;
	background-color: white;
}
.wihdiv.mahd{
	max-width: 470px;
	margin: 0;
	display: flex;
}
.flexindexc.mahd{
	justify-content: flex-end;
}
.titlxas{
	position: relative;
	margin-bottom: 35px;
}
.titlxas.aclick{
	font-weight: bold;
}
.titlxas.aclick:after{
	content: '';
	width: 44px;
	height: 1px;
	position: absolute;
	bottom: -5px;
	left: 0;
	right: 0;
	margin: 0 auto;
	border-bottom:3px solid #ee0c08 ;
}
.jr{
	margin-bottom: 10px;
}
.inpuntsd{
	border: 1px solid #cccccc;
    display: flex;
    align-items: center;
    height: 45px;
    padding: 0px 0 0 15px ;
    border-radius: 6px;
    margin-bottom: 20px;
}
.inpuntsbn{
	flex-grow: 1;
	display: block;
	margin-left: 15px;
	border: none;
}
a.hqyzm{
	width: 90px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	background-color: #dddddd;
	color: #666666;
}
.oruse{
	background-color: white;
	margin: 20px auto  30px;
	text-align: center;
	position: relative;
	z-index: 3;
}
.oruse b{
	display: block;
	margin: 0 auto;
	width: 100px;
	background-color: white;
	position: relative;
	z-index: 3;
}
.oruse:after{
	content: '';
	width: 100%;
	height: 1px;
	position: absolute;
	bottom: 8px;
	z-index: 1;
	left: 0;
	right: 0;
	margin: 0 auto;
	border-bottom:1px solid #CCCCCC;
}
a.qdxg{
	margin:50px auto 0;
	display: block;
	border-radius: 5px;
	text-align: center;
	width: 100%;
	background-color: #ee0c08;
	color: white;
	font-weight: bold;
	padding: 8px 0;
}
.flexindexc{
	display: flex;
	position: fixed;
	top: 21%;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 10;
	justify-content: space-between;
}
.tisk{
	position: absolute;
	display:none;
	text-align: center;
	border-radius:6px;
	top: 40%;
	left: 0;
	right: 0;
	margin: 0 auto;
	padding: 20px 0;
	font-size: 14px;
	color: white;
	background-color: rgba(0,0,0,.6);	
}
.guhs{
	display: flex;
	justify-content: space-around;
}
.dengls{
	display: none;
	position: relative;
}
.wjvns{
	display:flex;
	margin:-15px 0 80px;
	justify-content: flex-end;
}
.dengls.aclick{
	display: block;
}
.gjjw{
	text-align: center;
	margin: 50px auto -40px;
}
a.jbnd{
	color: #ee0c08;
}
.contentdiv{
	margin: 0 auto;
}
.contentitle{
	position: relative;
	padding: 85px 0 50px;
	display: block;
}
.contentitle:after{
	content: url(../img/xians.png);
	display: block;
    position: absolute;
    left: -360px;
    right: 0;
    margin: 0 auto;
    top: 1px;
    z-index: -1;
}
.weidiv{
	text-align: right;
	margin-bottom: 20px;
}
.sanjiaoxinsss{
	display: inline-block;
	width: 0;
	height: 0;
	border-top:4px solid transparent;
	border-bottom:4px solid transparent;
	border-left:8px solid #666666;
}
.zwencont{
	padding: 60px;
	background-color: white;
	overflow: hidden;
}
.kuan{
	border: 1px solid #DDDDDD;
}
.xignspj{
	margin: 30px 0;
	height: 1px;
	border-bottom: 1px dashed #C5C5C5;
}
.gsb{
	letter-spacing:1.4px;
	margin: 30px auto;
}
.navbian{
	padding-bottom: 70px;
}
.flexguangao{
	position: fixed;
	right: -147px;
	top: 35%;
	display: flex;
	align-items: center;	
	z-index: 11;
}
.lidiv{
	background-color: #ee0c08;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction:column;
	width: 40px;
	height: 250px;
	border: 2px solid #FFFFFF;
	border-radius:40px 0 0 40px ;
	border-right:none;
}
.gffb{
	border-radius:40px 0 0 40px ;
	border: 1px solid #CCCCCC;
	border-right:none;
}
.ggsdf{
	text-align: center;
	width: 35px;
}
.sanjsss{
	display: inline-block;
	margin-top: 10px;
	width: 0;
	height: 0;
	border-top:6px solid transparent;
	border-bottom:6px solid transparent;
	border-right:12px solid white;
	
}
.lidiv.aclick .sanjsss{
	border-right:none;
	border-top:6px solid transparent;
	border-bottom:6px solid transparent;
	border-left:12px solid white;
}
.wenv{
	width: 145px;
	height: 376px;
	text-align: center;
	border: 1px solid #CCCCCC;
	background-color: white;
}

.bliid{
	background-color: #1B1B1B;
	border-bottom: 4px solid #ee0c08;
	text-align: center;
	padding: 10px 0;
}
.gvdu{
	margin: 10px auto;
}
.gvdudds{
	color: red;
}
.ivj{
	width: 58%;
	display: inline-block;
	background-color: #afe3ff;
	border: 1px solid #78c7ef;
	padding: 5px 15px;
	margin: 7px auto;
	border-bottom: 1px solid #C5C5C5;
}
.pt10{
	padding-top: 30px;
	padding-bottom:30px;
	margin-bottom: 30px;
	border: 1px solid #C5C5C5;
}
.zwencont img{
	max-width: 100%;
	overflow: hidden;
	margin: 0 auto;
}
.texf{
	line-height: 30px;
}
.zxnav3div{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.zxnav3div a{
	padding: 15px 0;
	text-align: center;
	width: 33.34%;
	background-color: #dddddd;
}
.zxnav3div a.aclick{
	background-color: red;
	color: white;
}
.pbf{
	padding: 0;
}
.tisdndc{
	display: inline-block;
	padding: 4px;
	background-color: red;
	border-radius:4px;
	margin-top: 20px;
}
.tisdn{
	position: relative;
	margin-bottom: 29px;
}
.rightsdu{
	padding: 30px 30px 30px 0;
}
.tisdn:after{
	content: '';
	position: absolute;
	left: 0;
	bottom: -9px;
	width: 75px;
	height: 1px;
	border-bottom: 1px solid red;
}
.flvu{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.shopli{
	display: flex;
	align-items: center;
	border:1px solid #dddddd;
	margin-bottom: 20px;
}
.leftsdu{
	width: 260px;
	padding: 30px;
	overflow: hidden;
	flex-shrink: 0;
}
.tisdn2{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}
.leftsdu img{
	width: 100%;
	max-height:100% ;
}
.sign{
	text-align: center;
	margin: 40px auto ;
}
.yeshu.aclick{
	background-color: red;
	color: white;
}
.gjh{
	border: 1px solid #DDDDDD;
	padding: 5px 10px;
	margin: 0 1.5px;
}
.projietitle,.projieconten{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px 50px;
	position: relative;
}
.projietitle{
	background-color: #ee0c08;
	font-weight: bold;
}
.projietitlexs{
	border-right:1px solid rgba(0,0,0,.2) ;
	text-align: center;
	flex-grow: 1;
	width: 20%;
}
.projieconten .projietitlexs{
	padding: 10px 0;
	border-right: none;
}
.projietitlexs:nth-last-child(1){
	border-right: none;
}
.projieconten:after{
	content: '';
	width: 89%;
	border-bottom: 1px dashed #acacac;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
}
.projietitlexs .gjhhsw{
	border-radius:10px;
	padding: 5px 10px;
	border: 1px solid #DDDDDD;
}
.projietitlexs .gjhhsw:hover{
	color: white;
	background-color: #ee0c08;
}
a.weibs{
	background-color: #EE0C08;
	padding: 8px 25px;
	margin: 20px auto;
	display: block;
	width: 100px;
	border-radius: 25px ;
	color: white;
	text-align: center;  
	box-shadow: 0px 3px 1px #424242;
}
@media only screen and (min-width: 100px) and (max-width:1481px) {
	.headdiv.max1200{
		max-width: 1200px;
		width: 100%;
		margin: 0 auto;
	}
	.headdiv.max1200 .shapeflex{
		margin-right: 10px;
	}
	.headdiv.max1200 .headnav.flex{
		right: -10%;
	}
}
@media only screen and (min-height: 100px) and (max-height: 846px) {
	.flexindexc.max1024 .flexindexc {
		top:80px ;
	}
	.flexindexc.max1024 .inpuntsd{
		margin-bottom: 5px;
	}
	.flexindexc.max1024{
		top: 74px;
	}
	.flexindexc .wjvns{
		margin: -0px 0 80px;
	}
}
/*手机端 ---------------------------------------------------------------------------------------------------------*/
.headx.sj{
	width: 100%;
	background-image: url(../img/headsj.png);
	background-size: 100% 100%;
	margin: 0 auto;
	max-height: 50px;
}
.headdiv.sj{
	max-width: 87%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	max-height: 50px;
}
.logodiv.sj{
	width:70%;
}
.logodiv.sj img{
	max-width: 100%;
	max-height: 100%;
}
 .wghh.sj{
 	width: 100%;
 	max-height: 250px;
 }
 .wghh.sj img{
	max-width: 100%;
	max-height: 100%;
}
.banimgdivxxx.sj{
	margin-top: 14.78rem;
	z-index: 10;
	text-align: right;
	margin-bottom: 2rem;
}
.ggdp{
	margin-right: 15px;
}
.contentitle.sj{
	width: 45%;
	padding: 32px 0px 16px 10px;
}
.contentitle.sj:after{
	content: url(../img/xiansj.png);
	left: 0;
	top: 0;
}
.contentitle.sj img{
	max-width: 100%;
	max-height: 100%;
}
.projieconten.sj{
	padding: 15px;
	justify-content: space-between;
}
.projietitlexs .gjhhsw.aclick{
	background: #ee0c08;
	color: white;
	border: none;
	border-radius: 50px;
}
.sj.projieconten:after{
	width: 100%;
}
.pt10.sj{
	border: none;
}
.sj .projietitlexs{
	width: 100%;
	text-align: left;
}
.projietitlexs.gjs{
	flex-grow:0 ;
	width: 30%;
}
.ghsh{
	position: relative;
}
.ghsh:after{
	content: "";
	position: absolute;
	top: 0;
	left: -15px;
	bottom: 0;
	margin: auto;
	border-left:5px solid #EE0C08;
	height: 40%;
}
.sj .ggsdf{
	width: 25px;
}
.sj .lidiv{
	width: 25px;
	height: 160px;
}
.sj .lidiv img{
	max-width: 50%;
	max-height: 50%;
}
.weidiv.sj{
	margin-right: 15px;
}
.flexguangao.sj{
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 11;
	margin-bottom: -25%;
}
.sj.tixfodivsj{
	position: relative;
	overflow: hidden;
}
.sj.tixfodivsj:after{
	content: '';
	display: block;
	width: 60px;
	height: 60px;
	background-color: white;
	transform: skewX(-30deg);
	position: absolute;
	right: -30px;
	bottom: 0;
	z-index: 1;
}
.sjflexnav{
	width: 120px;
	position: fixed;
	right: -120px;
	top: 0;
	z-index: 150;
	background-color: #333333;
}
.sjflexnav .headNavA{
	text-align: center;
	height: initial;
	padding: 15px 0;
	line-height: 16px;
}
.posvbv{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 21;
}
.gdh.sj{
	padding: 10px;
}
.sj .gsb{
	margin: 10px auto;
}
.dbf{
	margin-top: 20px;
	display: flex;
	align-items: center;
}
.gfww{
	width: 80px;
	height: 80px;
}
.gfww img{
	width: 100%;
	max-height: 100%;
}
.fs16x{
	font-size: 16px;
}
.shopdix.sj .leftsdu{
	flex-shrink: 1;
	padding: 10px 2% 20px; 
	width: 31%;
}
.flvu.sj{
	margin-top: 10px;
	align-items: center;
}
.flvu.sj .tisdndc{
	margin: 0;
}
.sj .tisdn:after{
	display: none;
}
.sj.ff{
	padding: 0;
}
.sj .shopli{
	flex-wrap: wrap;
	align-items: baseline;
}
.sj .tisdn{
	width: 98%;
	text-align: center;
	margin: 15px auto;
	font-size: 15px;
}
.sj .rightsdu{
	width: 63%;
	padding:0 1% ;
}
.sj.dds.tixfodivsj:after{background-color: transparent;}
.sj .wihdiv{
	background-color: transparent;
	max-width: 325px;
	background-color: white;
	margin: 50px auto;
	border-radius:4px ;
}

.sj .mauto{
	width: 100%;
	padding: 0 30px;
}
.bvfsm,.dengls{
	width: 100%;
	margin: 0 auto;
	padding: 0;
}
.sj .inpuntsbn{
	width: 122px;
    flex-grow: 1;
}
.flexindexcention.sj{
	display: block;
	position: relative;
}
.sj .contdiv{
	width: 94%;
	margin: 0 auto;
}
.sj .contfs{
	max-height: 10000px;
	margin-bottom:30px ;
	overflow-y:hidden;
}
.jhq.sj.banimgdivxxx{
	margin-top: 13.58rem;
    margin-bottom: 3.2rem;
}
